doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 Express的Ajax测试
		p#status
		
	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/ajax.js')
